@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

.page{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.sel{
    margin-left: 25px;
    margin-right: 25px;
}